* {
  margin: 0;
}

.icons {
  padding: 5px;
  margin: 2px;
}
.icons:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  padding: 10px 0 10px 0;
  background-color: #fff;
}
